.commonContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #181818;
  box-sizing: content-box;

  .inner {
    position: absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    .title {
      width: 100%;
      font-size: 30px;
      margin-bottom: 10px;
    }

    .desc {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 2px;
    }

    .mainUse {
      width: 100%;
      font-size: 12px;
      margin-left: 2px;
      margin-bottom: 3px;
    }

    .use {
      width: 100%;
      font-size: 12px;
      margin-left: 2px;
      margin-bottom: 5px;
    }

    .button {
      margin: 15px auto auto 0;
      padding: 6px 16px;
      font-size: 15px;
      border: 1px solid;
    }
  }
}