.container {
  width: 150%;
  height: 100%;
  position: relative;

  .obliqueBar {
    position: absolute;
    height: 12%;
    border-left: 1px solid #898989;
    left: 12.5vw;
    bottom: 0;
    transform: translateX(-5px) rotate(-30deg);
  }

  .straightBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 12.5vw;
    height: 25%;
    border-right: 1px solid #898989;
  }

  .text {
    position: absolute;
    left: 12.5vw;
    transform: translateX(-54px) rotate(-90deg);
    font-size: 3px;
    color: #c0c0c0;
    letter-spacing: 5px;
    bottom: 83px;
    // opacity: 0.8;
  }
}
