.backButton {
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 40;
  font-size: 60px;
  color: #e0e0e0;
  width: 12.5vw;
  display: grid;
  place-items: center;
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.wrapper {
  position: relative;
}

.sectionWrap {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 61vw;
  height: calc(90vh - 100px);
  color: #222;
  font-family: azo-sans-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 15px;

  .head {
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 42px;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .desc {
    color: #fff;
    opacity: 0.6;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .moreInfoWrap {
    overflow: hidden;

    input {
      background: rgba($color: #fff, $alpha: 0.4);
      border-bottom: #fff 1px solid;
      width: 29.5vw;
      margin-right: 1vw;
      margin-bottom: 10px;
      padding: 5px 7px;
      outline: none;
      transition: all 0.3s;
      backdrop-filter: blur(2px);

      &.active {
        background: rgba($color: #fff, $alpha: 0.7);
      }

      &:hover {
        background: rgba($color: #fff, $alpha: 0.6);
      }

      &::placeholder {
        color: rgba($color: #fff, $alpha: 0.7);
        font-style: italic;
        letter-spacing: 1px;
      }
    }

    .company {
      width: 60vw;
      margin: 0 0 15px;
    }
  }

  .textarea {
    outline: none;
    background: rgba($color: #fff, $alpha: 0.4);
    border-bottom: #fff 1px solid;
    width: 60vw;
    padding: 5px 7px;
    height: 20vh;
    resize: none;
    margin-top: 10px;
    transition: all 0.3s;
    backdrop-filter: blur(2px);


    &.active {
      background: rgba($color: #fff, $alpha: 0.7);
    }

    &:hover {
      background: rgba($color: #fff, $alpha: 0.6);
    }

    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.7);
      font-style: italic;
      letter-spacing: 1px;
    }

    &.ng {
      &::placeholder {
        color: rgba($color: #ff9796, $alpha: 1);
      }
    }
  }

  .buttons {
    margin-top: 10px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    color: #e6e6e6;
    .moreInfo {
      margin-top: 2px;
      font-size: 13px;
    }

    .send {
      margin-top: 2px;
      padding: 9px 26px;
      background: rgba($color: #000, $alpha: 0.6);
      font-size: 14px;
      transition: all 0.7s;

      &:hover {
        background: rgba($color: #fff, $alpha: 0.6);
        color: #222;
      }

      &.ng {
        animation: ng 0.7s ease-out;
      }
    }
  }
}

@keyframes ng {
  0%,
  10%,
  20%,
  30%,
  40%,
  50% {
    transform: translateX(1px);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(0);
  }
  0% {
    background: rgba($color: #ff9796, $alpha: 0.6);
  }
  100% {
    background: rgba($color: #fff, $alpha: 0.6);
  }
}
