.backButton {
  position: fixed;
  top: 35px;
  left: 0;
  z-index: 40;
  font-size: 60px;
  color: #e0e0e0;
  width: 12.5vw;
  display: grid;
  place-items: center;
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}