$mainBack: #23282f;
$subBack: #141920;
$mainChara: #e6e6e6;
$subLv1Chara: #c0c0c0;
$subLv2Chara: #898989;
$mainStroke: #777;
$subStroke: #555;
$blue: #719ddc;
$red: #ff9796;

.wrapper {
  .backButton {
    position: fixed;
    top: 35px;
    left: 0;
    z-index: 40;
    font-size: 60px;
    color: #e0e0e0;
    width: 12.5vw;
    display: grid;
    place-items: center;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .scrollbar {
    position: fixed;
    width: 12.5vw;
    height: 120px;
    bottom: 10px;
    left: 0;
  }

  main {
    width: 100vw;

    .container {
      display: flex;
      flex-wrap: wrap;
      color: #fff;
    }
  }
}
